<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Main Page</title>
    {% endblock %}
    <link rel="stylesheet" href="../static/styles/style.css">
    
</head>
<body>
   <header>
     <div class="container">
       <h1 class="logo">Abysmal Welcome</h1>
       <strong><nav>
         <ul class="nav">
           <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
           <li class="nav-item"><a href="{{ url_for('chatbot') }}" class="nav-link">ψ C̵̛̰̅̍͒͒̈l̴̢̳̝̼̼͉̄i̷̖̺̒̾̕c̸̦̼̱̓͛k̸̨̧̞̜̇̕͜͝ ̸͍͒͊̇̽͘m̶̫̬̤̘̬̂e̷̞͐͂̊̄̕͝ͅ ⛧</a></li>
         </ul>
       </nav></strong>
     </div>
   </header>
   
   {% block content %}
   
   {% endblock %}
    
</body>
</html>