{% extends "base.html" %}
  <body>
    
    {% block content %}
    
    <h1>⛥ h̵̭̪̤̄͗̓ö̶̮͙̱́̑w̷̫̤̺̽ ̵̦̔̈I̸̫͑͊̃͒̑ ̸̳̓͊l̷͙̇́͋̅͝ȯ̶̦̭͉v̶͔̓ẹ̴̰̪̣̟̀̈́ ̴͎͉̦͖̣̌́̈ṫ̷̟̰̟̅̍̋͆ͅo̶̫̜̣͑̅̌́ͅ ̸͕͠p̶͇͎̗̘͓̂̆̑͗l̸̩͇̎̈͝ͅạ̷͎̤̃͋́̓ỷ̵̛̤͕̼̝ ̵̢̳̫̖̑́͋͗̚ͅŵ̵̜͖̘i̸̥̹̝͈̓̈́̋͗͛͜t̴̡͓̱͛͘h̸͖̰̫̙͋͝ ̵̫̈́̑̽͘͝m̷̙̙̞̏̈́̾y̷͖͖̫̑̉͌̌ ̶͙̞̱̗̱̓͑ḟ̵͔́o̸̼̎̍ọ̴̞͠d̵͍̉̃͊ ̴̟̫͌͝f̸̡̨̤̠̦͌̓̏̂i̷͉͇͉͌̋̕ṛ̶̡̣͎͖̎̕̕s̷̮̙̻̩̳̿͊ẗ̷̘͍̞͚́ ⛧ </h1>
    <p>Why don't we have a little conversation mortal</p>
    <br>
    <p>Sententia socialis sum</p>
    <br>
    <p>... Who does not like to know about their... cena... first</p>

    
    {% endblock %} 
  </body>
</html>